*{
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
}

body {
background-color: rgb(136, 170, 199);
}


main {
    background-color: rgb(22, 20, 20);
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(136, 118, 118);
}